body{
    background-color:r;
}
#facebook{
    position: absolute;
    left: 740px;
    color: blue;
    margin-top: 5px;
}
#google{
    position: absolute;
    left: 930px;
    color: red;
    margin-top:5px;
}
#instagram{
    position: absolute;
    left: 835px;
    color: lightcoral;
    margin-top:5px;
}
#whatsapp{
    position: absolute;       
    color: limegreen;
    margin-top:5px;
}
hr{
    width:990px
}
img{
    position: absolute;
    top: 27px;
    width: 250px;
    height:150px;
}
#barrita{
    float: right;
    margin-right: 230px;
    margin-top:5px;
}
form{
    position: absolute;
    right: 30px;
    margin-top:5px;
}
#conocenos{
    text-align: center;
    color: white;
    width: 100%px;
    height:100px;
    background:gray;
    margin-top: 140px;
    padding: 3px;  
    border-radius: 5px;
}
#lista{
    width:220px;
    height: 340px;
    background: gray;
    margin-top:30px;
    text-align: left;
    padding: 1px;
    color: white;
    border-radius: 3px;
}


li{
    margin-top: 5px;
    margin-left: 0px;
 }


#clari{
    width: 195px;
    height: 130px;
    float:right;
    right:550px;
    top:310px;
}

#textoClari{
    position:absolute;
    left: 260px;
    top:450px;
}
p{
    color: red;
    font-size: 30px;
    font-family: cursive;
    text-align: right;
}
.boton{
    position: absolute;
    width: 130px;
    height:20px;    
    margin-top: 15px;
    margin-bottom:15px;
    color: white;
    background: grey;
    padding: 7px;
    text-align: center;
}
.boton:hover{
    background: black;
    cursor: pointer;
}
.boton1{    
    left: 280px;   
}

#flauta{
    width: 195px;
    height: 130px;
    float:right;
    right:310px;
    top:320px;
}
#textoflauta{
    position:absolute;
    left: 520px;
    top:450px;
}
.boton2{    
    left: 535px;
}
#trompeta{
    width: 195px;
    height: 130px;
    float:right;
    right:50px;
    top:320px;
}
#textoTrompeta{
    position:absolute;
    left: 780px;
    top:450px;
}
.boton3{
    left:780px;
}
#timbaleta{
    width: 195px;
    height: 130px;
    float:right;
    right:550px;
    top:720px;
    margin-top:30px;
}
#textoTimbaleta{
    position:absolute;
    left: 260px;
    top:880px;
}
.boton4{
    left:280px;
    margin-top: 430px;
}

#bongo{
    width: 195px;
    height: 130px;
    float:right;
    right:310px;
    top:720px;
    margin-top:30px;
}
#textoBongo{
    position:absolute;
    left: 520px;
    top:880px;
}
.boton5{
    left:535px;
    margin-top: 430px;
}

#timbal{
    width: 195px;
    height: 130px;
    float:right;
    right:50px;
    top:720px;
    margin-top:30px;
}
#textoTimbal{
    position:absolute;
    left: 780px;
    top:880px;
}
.boton6{
    left:780px;
    margin-top: 430px;
}
#marcas{
    background: gray;
    padding:10px;    
    width: 900px;
    height: 90px;
    position: relative;
    margin-top: 509px;
    margin-left:30px;
    margin-bottom: 30px;
    border-radius: 5px;
    
    
}
#marcas img{
    width: 850px;
    height: 80px;
    float: right;
    top: 17px;

}
h5{
    text-align: center;
    margin:5px;
}
